.vscode/**
.git/**
.gitignore
AGENTS.md
scripts/**
node_modules/**
!node_modules/pinyin-pro/
!node_modules/pinyin-pro/dist/**
!node_modules/pinyin-pro/package.json
!node_modules/pinyin-pro/LICENSE
*.vsix
